.style3 {
    color: black;
    font-size: 25px;
}

.style4 {
    color: white;
    font-size: 25px;
}

.style5 {
    font-size: 20px;
    text-align: center;
    /* color: beige; */
}

.style6 {
    text-align: center;
    border: 2px;
    line-height: 45px;
}

.style7 {
    font-size: 25px;
    text-align: center;
    line-height: 45px;
}

.carousel-item img {
    max-height: 450px;
    object-fit: cover;
}